/**
 * Created by Frederik on 13/12/2022.
 */
.columnCss {
    display: contents !important;
}

.spinnerHolder{
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
}

tr {
    height: 40px;
    width: 40px;
}